*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
nav ul {
	list-style: none;
	justify-content: center;
	gap: 25px;
	display: flex;
}
body {
	background: rgb(245, 194, 224);
	line-height: 1.7;
	color: black;

}
header {
	justify-content: center;
	background: white;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px auto;
    object-fit: cover;
    border: 4px solid #eee;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a {
	text-decoration: none;
}
header h1 {
	font-size: 2.5 rem;
	color: black;
	margin-bottom: 10px ;
}
h2 {
	color: lightcoral;

}

footer {
	text-align: center;
	padding: 10px 20px;

}
section {
    background: white;
    margin: 40px auto;
    padding: 30px;
    width: 80%;
    max-width: 900px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
